html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    background: #fff;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E31E25;
}
    a:hover {
        color: #e31e25;
        font-weight: bold;
        text-decoration: none;
    }

/* custom styles */
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fafafa;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e31e25;
  }

/* ==== custom styles ==== */

.bg-bblue {
     background-color: #b2dbfa;
}
.bg-brand {
    background: #e31e25;
}
.text-brand {
    color: #e31e25;
}
.bg-g-1 {
    background: #e8e8e8;
}
.bg-g-2 {
    background: #f8f7f7;
    transition: 0.4s ease;
}
.bg-r-2 {
    background: #fda4aa;
    transition: 0.4s ease;
}
.bg-r-3 {
    background: #fda4aa;
    transition: 0.4s ease;
}

.text-green {
    color: #bbd386;
}
.text-g-1 {
    color: #fafafa;
}
.text-g-2 {
    color: #939292;
}
.text-g-3 {
    color: #656366;
}
.text-g-5 {
    color: #707070;
}
.text-bblue {
    color: #07b5b5;
}
.text-black {
    color: #000;
    transition: 0.4s ease;
}
.text-white {
    color: #fff;
    transition: 0.4s ease;
}

.sh-1 {
    font-size: 4rem;
}
.sh-2 {
    font-size: 2.5rem;
}
.sh-3 {
    font-size: 2rem;
}
.sh-4 {
    font-size: 1.5rem;
}
.sh-l {
    font-weight: 400;
}
.st-1 {
    font-size: 2rem;
}
.st-2 {
    font-size: 1.6rem;
}
.st-3 {
    font-size: 1rem;
}
.f-w-b {
    font-weight: 600;
}

.fix-spacing {
    margin-top: 120px;
}

@media screen and (max-width:1024px) {
    .sh-1 {
        font-size: 2.5rem;
    }
    .sh-2 {
        font-size: 2rem;
    }
    .sh-3 {
        font-size: 1.8rem;
    }
    .sh-3 {
        font-size: 1.5rem;
    }
    .sh-l {
        font-weight: 400;
    }
    
    .st-1 {
        font-size: 1.5rem;
    }
    .st-2 {
        font-size: 1.3rem;
    }
    .st-3 {
        font-size: 1rem;
    }
    .fix-spacing {
        margin-top: 100px;
    }
}

/* ==== header ==== */
header {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    background: transparent;
}
    header.fixed {
        background: #f4f4f4;
        z-index: 9999;
    }
    .header {
        padding: 10px 0 !important;
        align-items: center;
        background: transparent;
    }
        #logo {
            width: 10%;
        }
        #logo img {
            height: 86px;
            width: 86px;
        }
        nav {
            width: 50%;
            align-items: center;
        }
            nav > ul {
                align-items: center;
                display: flex;
                justify-content: center;
            }
            .main-nav-list > li {
                display: inline;
                line-height: 100px;
            }
                nav li:not(:last-child) {
                    margin-right: 20px;
                }
            nav a {
                font-weight: 500;
            }
        .hs-links {
            width: 10%;
        }
            .hs-links a {
                color: #656366;
            }
                .hs-links a:hover {
                    color: #e31e25;
                }
                .hs-links a:not(:last-child) {
                    margin-right: 10px;
                }

        /* dropdown menu */
        .has-children:hover .submenu {
            display: block;
            transition: 0.4s;
        }
        .has-children-2:hover .submenu-2 {
            display: block;
            transition: 0.4s;
        }
        .has-children-3:hover .submenu-3 {
            display: block;
            transition: 0.4s;
        }
        .has-children-4:hover .submenu-4 {
            display: block;
            transition: 0.4s;
        }
        .submenu {
            display: none;
            position: absolute;
            top: 100px;
            background: #f4f4f4;
            height: auto;
            padding: 20px;
        }
            .submenu li {
                display: block;
                line-height: 2em;
            }
            .has-children-2 {
                position: relative;
            }
                .submenu-2 {
                    position: absolute;
                    background: #f4f4f4;
                    left: 100%;
                    padding: 20px;
                    width: auto;
                    bottom: -20px;
                    display: none;
                }
                    .submenu-2 div {
                        display: inline;
                        width: 500px;
                    }
                .submenu-3 {
                    position: absolute;
                    background: #f4f4f4;
                    padding: 20px;
                    width: auto;
                    display: none;
                }
                    .submenu-3 li {
                        line-height: 2em;
                    }
                .submenu-4 {
                    position: absolute;
                    background: #f4f4f4;
                    padding: 20px;
                    width: auto;
                    display: none;
                }
                    .submenu-4 li {
                        line-height: 2em;
                    }


/* ==== MOBILE HEADER ==== */
.mobile-header {
    position: fixed;
    background: #f4f4f4;
    z-index: 997;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    height: 100px;
    display: none;
}
    .mobile-logo img {
        height: 86px;
        width: 86px;
    }
    .burger {
        cursor: pointer;
    }
        .burger div {
            height: 2px;
            width: 25px;
            margin-bottom: 5px;
            border-radius: 5px;
            background: #e31e25;
        }
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 998;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: 1s;
}
    .overlay.active {
        transform: scale(1);
        transition: 1s;
    }
.mb-navbar {
    position: fixed;
    width: 100%;
    background: #f4f4f4;
    height: 100%;
    z-index: 999;
    right: 0;
    top: 0;
    padding: 30px;
    box-sizing: border-box;
    display: none;
    transform: translateY(-100%);
    transition: 0.4s;
    overflow-y: scroll;
}
    .mb-navbar.active {
        transform: translateY(0);
        transition: 0.4s;
    }
    .close-nav-btn {
        font-size: 2.5rem;
        color: #e31e25;
        cursor: pointer;
    }
    .mobile-nav-list > li {
        padding: 10px 0;
    }
    .mobile-nav-list ul li {
        padding: 2px 0;
    }
    .mobile-nav-list ul li a {
        color: #555;
    }
    .list-1, .list-2, .list-3, .list-4 {
        padding-left: 15px;
        background: #f6f6f6;
        display: none;
    }
    .list-1.active {
        display: block;
    }
    .list-2.active {
        display: block;
        transition: 0.4s;
    }
    .list-3.active {
        display: block;
        transition: 0.4s;
    }
    .list-4.active {
        display: block;
        transition: 0.4s;
    }

@media screen and (max-width:1024px) {
    header {
        display: none;
    }
    .mobile-header, .mb-navbar {
        display: block;
    }
}

/* ==== landing page ==== */
.landing-page {
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: -50px;
}
    .lp-slider {
        overflow: hidden;
        width: 300%;
        height: 100%;
    }
        .lp-slide {
            width: 100%;
            height: 100%;
        }
            .lp-slide .container {
                width: 90%;
                height: 100%;
                margin: 0 auto;
                position: relative;
            }
            .lp-slide h1, .lp-slide .indicator {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .lp-slide h1 {
                left: 0;
            }
            .indicator {
                right: 10px;
            }
                .indicator div {
                    background: #ccc;
                    height: 3px;
                    border-radius: 15px;
                    width: 24px;
                    margin-bottom: 5px;
                    transition: 2.5s;
                }
                    .indicator .line-1,
                    .indicator .line-2,
                    .indicator .line-3 {
                        background: #e31e25;
                        width: 30px;
                        transition: 2.5s;
                    }

@media screen and (max-width:1024px) {
    .landing-page {
        margin-top: 100px;
        height: 350px;
    }
}

/*  ==== COUNTDOWN ==== */
.counter {
    width: 50%;
    margin: 0 auto;
}
    .timer {
        height: 70px;
        width: 70px;
        text-align: center;
        background: #5cb5ba;
        border-radius: 50%;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
    }
    .timer div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        padding: 0;
        margin: 0;
    }
    .timer span {
        line-height: 1;
    }
    .timer-time {
        color: #c10715;
        font-weight: 600;
        font-size: 1.3rem;
    }

    .enrol-btn {
        background: #0066b3;
        color: #fff !important;
        text-decoration: none;
        padding: 5px 20px;
        transition: .4s;
    }
        .enrol-btn:hover {
            font-weight: 300 !important;
            letter-spacing: 1px;
            transition: .4s;
        }

@media screen and (max-width:1024px) {
    .countdown {
        flex-direction: column;
    }
        .counter {
            width: 90%;
            margin: 10px 0;
        }
        .enrol-btn {
            margin-top: 10px;
        }
}

/*  ==== TRAINING ==== */
.t-slider {
    overflow-x: scroll;
}
    .t-card {
        height: 350px;
        width: 300px;
        margin-right: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
    }
        .tag-price {
            position: absolute;
            top: 0;
            right: 15px;
            background: #B2DBFA;
            color: #1070B9;
            font-weight: 600;
            padding: 5px;
        }
        .tc-img {
            height: 70%;
            width: 100%;
        }
            .tc-img img {
                height: 100%;
                width: 100%;
            }
        .tc-title {
            height: 30%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 20px;
            box-sizing: border-box;
        }
            .tc-title .st-2 {
                font-size: 1.3rem;
            }

@media screen and (max-width:1024px) {
    .t-card {
        height: 300px;
        width: 300px;
    }
}
/* ==== SERVICES ==== */
.s-card {
    box-sizing: border-box;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
    .s-card:hover{
        background-color: #c9200f;
        color: #fff;
    }
    .sc-img {
        width: 100%;
        transform: scale(2.4);
    }
        .sc-img img {
            width: 90%;
            margin-top: 60px;
            margin-bottom: 40px;
        }

        .sc-img img:not(:last-child) {
            margin-left: 10px !important;
        }

    .sc-text {
        color: #000;
    }
        .s-card:hover .sc-text {
            color: #fff;
        }
        .s-card:hover .sc-info {
            display: block !important;
            font-size: 12px;
        }
@media screen and (max-width:1024px) {
    .s-card {
        height: 400px;
        background: #e31e25;
        margin-bottom: 20px;
        color: #fff !important;
    }
        .sc-text {
            color: #fff;
        }
        .sc-text .d-none {
            display: block !important;
        }
        .sc-img img {
            margin: 0;
        }
    .sc-img {
        transform: scale(1);
    }
}

/* ====VISION ==== */
.vs-quote {
    position: relative;
    background-image: linear-gradient(90deg, #fff 50%, #fda4aa 50%);
}
    .vs-quote:before {
        position: absolute;
        content: '"';
        top: -50px;
        left: 54%;
        transform: translateX(-50%);
        font-size: 100px;
    }

.vs-img img {
    max-width: 25%;
}

.vs-img p {
    border: 2px solid #efefef;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px 10px;
    padding-left: 30px !important;
}
    .vs-img .fa{
        color: #fff;
        background-color: #04a555;
        border-radius: 100%;
        padding: 5px;
        font-size: 10px;
        font-weight: 100;
    }

/* ==== YOUTUBE ==== */
.youtube iframe {
    margin: 0 auto;
    width: 100%;
    height: 400px;
}
/*  ==== OUR TEAM ==== */
.team-img {
    width: 20%;
    margin: 0 auto;
    background-color: #e8e8e8;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 80px;
    box-sizing: border-box;
}
/*  ==== TESTIMONY SLIDER ==== */
.t-img img {
    position: relative;
    overflow: visible;
    z-index: 99;
}
    .t-img img::before {
        position: absolute;
        z-index: 999;
        content: '"';
        color: #0066b3;
        top: -30px;
        left: 0;
        font-size: 150px;
    }
    .t-img img {
        border-radius: 100%;
        border: 3px solid #0066b3;
        transform: scale(1.1);
        margin-top: 20px !important;
    }
    .t-img h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: #0066b3;
    }

    .t-img p {
        font-size: 0.8rem;
    }
@media screen and (max-width:1024px) {
    .team-img {
        padding: 30px;
    }
    .t-slide {
        flex-direction: column;
        align-items: center;
    }
    .t-img {
        height: 150px;
        overflow: hidden;
        box-sizing: border-box;
    }
        .t-img:before {
            font-size: 3rem;
            left: 0;
        }
        .t-img img {
            width: 120px;
            height: 120px;
        }
}

/* ==== COURSE DESCRIPTION PAGE ==== */
.cd-card img {
    width: 100%;
}
    .course-btn {
        padding: 5px 20px;
        background: #efefef;
        font-weight: 600;
        transition: 0.4s;
    }
        .course-btn:hover {
            background: #707070;
            color: #efefef;
            transition: 0.4s;
        }

    .lt-1, .lt-2 {
        cursor: pointer;
    }
    
    .course-outline {
        padding-left: 10px;
    }
        .course-outline li {
            padding-left: 10px;
            list-style-type: disc;
        }

/* ==== SERVICES PAGE ==== */
.slp, .alp {
    height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../img/food.png');
    position: relative;
    z-index: 8;
}
    .alp {
        background-image: url('../img/banquet.jpg');
    }
    .slp::before, .alp::before {
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        content: "";
    }
    .slp h3, .alp h3 {
        position: absolute;
        z-index: 99;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
    }
    .sr-card {
        width: 23%;
        overflow: hidden;
        text-align: center;
    }
        .sr-img {
            height: 100px;
            width: 100px;
            overflow: hidden;
            border-radius: 50%;
            margin: 20px auto;
        }
            .sr-img img {
                width: 100%;
                height: 100%;
            }

    .cta {
        height: 300px;
    }

    /* gallery */
    .gallery {
        margin: 0 auto;
        height: 500px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
                            "box-1 box-2 box-3"
                            "box-1 box-4 box-3"
                            "box-1 box-4 box-5";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .gallery div {
        background: #707070;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .box-1 {
        grid-area: box-1;
    }
    .box-2 {
        grid-area: box-2;
    }
    .box-3 {
        grid-area: box-3;
    }
    .box-4 {
        grid-area: box-4;
    }
    .box-5 {
        grid-area: box-5;
    }
.r-cont {
    width: 550px;
    max-height: auto;
    border: 1px solid #ccc;
    margin: 150px auto 0;
    position: relative;
}
.r-cont-2 {
    height: 350px;
}
.r-cont-3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .r-cont-3 h3 {
        font-size: 3rem;
    }
    .r-close-btn {
        cursor: pointer;
        color: #000;
        background: #fda4aa;
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        padding: 0;
        box-sizing: border-box;
    }
    .r-form {
        width: 100%;
    }
        .r-form input{
            border: none;
            padding: 10px 5px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box;
        }
            .r-cont .proceed {
                width: 150px;
                float: right;
            }
            .f-split input {
                width: 45%;
            }
            .info {
                font-size: .8rem;
                display: block;
                margin-bottom: 20px;
            }
        .r-form select {
            border: none;
            border-bottom: 1px solid #ccc;
            background: none;
            padding: 10px 5px;
        }
    .rc-mini {
        width: 100%;
        margin: 10px 0;
    }
        .rn {
            font-size: 1rem;
            color: #666;
            margin-bottom: 5px;
            width: 20%;
        }
        .rn2 {
            font-size: 1.2rem;
            font-weight: 600;
            color: #666;
            margin-bottom: 5px;
            width: 75%;
        }
        .dp {
            height: 100px;
            width: 100px;
            box-sizing: border-box;
        }
            .dp img {
                height: 100%;
                width: 100%;
            }

@media screen and (max-width:1024px) {
    .slp, .alp {
        height: 300px;
    }
    .sr-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .cta {
        flex-direction: column;
        justify-content: center !important;
    }
    .r-cont {
        width: 95%;
        padding: 20px !important;
        height: auto;
    }
    .r-cont-2 {
        height: 500px;
    }
    .r-cont-3 {
        width: 95%;
        box-sizing: border-box;
    }
    .r-cont-3 h3 {
        font-size: 2rem;
    }
    .rc-mini .d-flex {
        flex-direction: column  ;
    }
}

/* ==== ABOUT PAGE ==== */
.vision h3 {
    cursor: pointer;
    color: #e31e259d;
}
    .vision h3.active {
        color: #e31e25;
        transform: scale(1.2);
        transition: 0.5s;
    }
    .vsn-img {
        height: 300px;
    }
        .vsn-img img {
            width: 100%;
            height: 100%;
        }

/* ==== MY FOOTER ==== */
footer {
    background-color: #fafafa;
}
    .footer h3 {
        font-size: 15px;
    }
        .footer-info a {
            font-size: 1rem;
            color: #707070;
        }
            .footer-info a:hover {
                font-weight: normal;
            }
        .fs-links a:not(:last-child){
            margin-right: 15px;
            color: #707070;
        }
        
        .contact-us input, select, textarea {
            width: 100%;
            border: 1px solid #b2dbfa;
            border-radius: 5px;
            padding: 10px 20px;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #0066b3;
            color: #fff;
        }